* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  text-align: center;
  background-color: rgba(37, 44, 28, 0.534);
}

#img {
  text-align: right;
  margin-right: 20px;
}

#drinkSearch {
  padding: 10px;
  margin-left: 50px;
}

#drinkSearch input,
button {
  padding: 10px;
  margin-top: 10px;
}