* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
}

h1 {
  color: #e9e6e1;
  font-family: "Milonga", cursive;
  text-align: center;
  margin: 0 150px 0 150px;
  padding-top: 2%;
  padding-bottom: 10px;
}

h5 {
  color: #e9e6e1;
  font-family: "Milonga", cursive;
  text-align: center;
}

p {
  margin: 0 180px 0 180px;
  text-align: center;
  color: #e9e6e1;
  padding-bottom: 15px;
}

.pick-drink {
  padding-top: 2%;
  max-width: 15%;
  max-height: 15%;
}

.api-grid {
  padding-left: 5%;
  padding-top: 2%;
  padding-right: 5%;
}

h2 {
  color: #e9e6e1;
  font-family: "Milonga", cursive;
  padding-left: 20px;
}

.recipeList {
  color: #e9e6e1;
  padding-left: 20px;
}

.rounded {
  display: block;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%;
}

.boxBorder1 {
  border: 2px solid #eed8a9;
  padding: 10px;
  outline: #eed8a9 solid 5px;
  outline-offset: 5px;
  background-color: rgb(71, 71, 71);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://images.unsplash.com/photo-1601053397261-2552332609fc?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80);
}

.boxBorder2 {
  border: 2px solid #eed8a9;
  padding: 10px;
  outline: #eed8a9 solid 5px;
  outline-offset: 5px;
  background-color: rgb(71, 71, 71);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://images.unsplash.com/photo-1590423859012-39c5ee2845bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
}

.boxBorder3 {
  border: 2px solid #eed8a9;
  padding: 10px;
  outline: #eed8a9 solid 5px;
  outline-offset: 5px;
  background-color: rgb(71, 71, 71);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://images.unsplash.com/photo-1566666152520-27af5f022a0f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
}

li a {
  font-size: large;
  color: #e9e6e1;
}

ul {
  font-size: x-large;
  color: #e9e6e1;
}

.liquorSearch {
  height: 50px;
  width: 280px;
  border-radius: 12px;
  padding-left: 15px;
}

.searchBtn {
  height: 50px;
  width: 140px;
  background-color: rgb(250, 219, 161);
  border-radius: 12px;
}

body {
  background-image: url("https://images.unsplash.com/photo-1546484396-fb3fc6f95f98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-color: #090233;
  background-size: cover;
}

footer {
  background-color: black;
  color: #e9e6e1;
  width: 100%;
  padding: 20px 35px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 35px;
}
